.resources__link {
  margin: 0;
  padding:0;
  width: 270px;
  height: 38px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: opacity 0.3s ease;
}

.resources__link:hover {
  opacity: 0.6;
  filter: alpha(opacity=70);
}
