.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.6; /* Значение прозрачности */
  filter: alpha(opacity=70); /* Прозрачность в IE */
}
